.accordion {
  border-radius: 1rem;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0; 
}

.accordion__drawer {
  border: 0 none transparent;
  border-collapse: collapse;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative; 
}
  
.accordion__header {
  background-color: rgb(246, 246, 246);
  color: rgb(99, 99, 99);
  cursor: pointer;
  outline: none;
  padding: 15px 45px 15px 15px;
  position: relative;
  text-overflow: ellipsis;
  transition: color 250ms cubic-bezier(0.86, 0, 0.07, 1);
  user-select: none; 
  padding: 10px 30px;
  display: flex;
  gap: 4px
}

.accordion__header.colored {
  background-color: var(--main-light-max);
}

.accordion__header h1, .accordion__header h2, .accordion__header h3, .accordion__header h4, .accordion__header h5, .accordion__header h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: inherit;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.accordion__header[aria-expanded="false"] {
  border-bottom-width: 0; }
.accordion__header[aria-expanded="false"] ~ .accordion__content {
  height: 0;
  opacity: 0;
  overflow: hidden; }
.accordion__header[aria-expanded="true"] {
  border-bottom: 0 none #ccc; }
.accordion__header[aria-expanded="true"] ~ .accordion__content {
  height: auto;
  opacity: 1;
  visibility: visible; }

.accordion__header:hover {
  border-color: transparent;
  border-bottom-color: transparent;
  outline: 1px solid transparent;
  z-index: 1; 
}
.accordion__header:focus, .accordion__header.focus {
  border-color: transparent;
  border-bottom-color: transparent;
  outline: 1px solid transparent;
  z-index: 2; 
}
.accordion__header:focus, .accordion__header:focus-within {
  border-color: transparent;
  border-bottom-color: transparent;
  outline: 1px solid transparent;
  z-index: 2; 
}

.accordion__content {
  background: rgb(251, 251, 251);
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
  padding: 0 2rem 0 3rem;
  position: relative;
  visibility: hidden; 
}

.accordion__content::before, .accordion__content::after {
  content: '';
  display: block;
  height: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  width: calc(100% + 2rem * 2); 

}

.accordion__content.colored {
  background: var(--main-light-max);
}

.button-up,
.button-down {
  display: block;
  font-family: "icon-line";
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 30px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center
  /* top: 50%; */
  /* position: relative; */
  /* padding: 5px; */
  /* margin: 30px auto;
  background: #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.2s linear; */
}


.button-down {
  top: 0px;
}

.button-down:hover {
  transform: translate3d(0, 2px, 0);
}

.button-up:hover {
  transform: translate3d(0, -2px, 0);
}

.button-up::after,
.button-down::after {
  content: "";
  position: absolute;
  /* left: 17px; */
  z-index: 9;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #434343;
  border-left: 2px solid #4b4b4b;
}

.button-up::after {
  transform: rotate(45deg);
}

.button-down::after {
  /* top: -18px; */
  transform: rotate(225deg);
}
