.button {
  background-color: var(--main-light-max);
  box-shadow: 0 1px 2px 1px var(--shadow);
  padding: 10px;
  border: 0.1px solid var(--shadow);
  border-radius: 6px;
  filter: brightness(95%);
}

.button.secondary {
  background-color: var(--secondary);
  color: white;
}

.button.important {
  background-color: var(--important);
  color: white;
}

.button.error {
  background-color: var(--error-red);
  color: white;
}

.button:disabled {
  background-color: var(--gray-light);
  filter: none;
  color: gray;
}

.button:disabled:hover {
  cursor: not-allowed;
  filter: initial;
}

.button:hover {
  cursor: pointer;
  filter: brightness(100%);
}

/* .button--effect:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--secondary); }
} */

/* used from codepen https://codepen.io/nourabusoud/pen/ypZzMM */

.button--effect:before,
.button--effect:after {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  left: 10%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.button--effect:before {
  display: none;
  top: -50%;
  background-image: radial-gradient(
      circle,
      var(--secondary) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--secondary) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--secondary) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
    50% 50%, 65% 20%, 85% 30%;
}

.button--effect:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(
      circle,
      var(--secondary) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--secondary) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%),
    radial-gradient(circle, var(--secondary) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
    40% 90%, 55% 90%, 70% 90%;
}

.button--effect:active {
  transform: scale(0.9);
}

.button--effect.animate:before {
  display: block;
  animation: topeffect ease-in-out 1s forwards;
}
.button--effect.animate:after {
  display: block;
  animation: bottomeffect ease-in-out 1s forwards;
}

@keyframes topeffect {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomeffect {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
