.button {
    background-color: rgb(232, 242, 242);
    box-shadow: 0 1px 2px 1px var(--shadow-light);
    padding: 10px;
    border: 0.1px solid var(--shadow-light);
    border-radius: 6px;
    filter: brightness(95%);
}

.button.secondary {
    background-color: var(--secondary);
    color: white;
}

.button.important {
    background-color: var(--important);
    color: white;
}

.button.error {
    background-color: var(--error-red);
    color: white;
}


.button:hover {
    cursor: pointer;
    filter: brightness(100%);
}