.cart {
    display: grid;
    width: 100%;
}

.cart_header {
    color:var(--main);
    margin: 0 0 20px;
}

.cart_summary {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: .5rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--main);
    background-color: var(--gray-light);
    padding: 1.4rem;
    border-radius: 2px;
    max-height: 170px;
}

.cart_summary__button {
    width: 100%;
}

.cart__link {
    grid-column: 1/3;
}

.cart__message {
    grid-column: 1/3;
}

.cart_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.cart_item {
    width: 100%;
    box-shadow: 0 0 8px 1px var(--shadow);
    padding: 10px;
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    grid-template-rows: 1fr 40px;
    gap: 10px;
}

.cart_item__img {
    width: 100%;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cart_item__link {
    text-decoration: none;
    color: var(--main);
    text-transform: uppercase;
    font-size: 14px;
    align-self: center;
    margin: 10px;
}

.cart_item__link:hover {
    color: var(--focus-text);
}

.button_remove {
    background-color: white;
    outline: none;
    border: 0.5px solid var(--shadow);
    box-shadow: 0 0 2px 0.5px var(--shadow);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    align-self: center;
    margin: 10px;
    padding: 6px;
}

.button_remove:hover {
    box-shadow: 0 0 4px 0.5px var(--shadow);
}

.button_remove:hover > .button_remove__icon {
    color: rgb(50, 50, 50);
}

.cart_item .button_remove__icon {
    font-size: 26px;
    width: 100%;
    color: rgb(92, 92, 92);
}
/* 
.button_remove__icon:hover {
    color: rgb(50, 50, 50);
} */

.counter {
    display: flex;
    align-items: center;
    grid-column: 2;
    margin: 10px;
    gap: 8px;
}

.counter__button {
    background-color: white;
    outline: none;
    border: none;
    height: 15px;
    width: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    align-self: center;
    font-size: 16px;
}

.counter__button:hover {
    background-color: var(--main-light-max);
}

.counter__value {
    height: 10px;
    width: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: right;
    align-self: center;
}

.cart_item__price {
    grid-column: 3;
    align-items: center;
    justify-self: right;
    color: var(--important-text);
    margin: 10px;
}

@media only screen and (min-width: 700px) {
    .cart {
        grid-template-columns: auto 250px;
    }
    .cart_header {
        grid-column: 1/3;
    }
    .cart_summary {
        margin-top: 0rem;
        margin-left: 1rem;
    }
}
