:root {
  --light-gray: #dddddd;
  --white: #ffffff;
  --main: rgb(41, 80, 98);
  --secondary: rgb(23, 116, 139);
  --main-light: rgb(125, 171, 183);
  --main-medium: rgb(65, 164, 177);
  --focus-text: rgb(178, 122, 24);
  --light-shadow: rgb(0, 0, 0, 0.1);
  --error-red: rgb(196, 2, 2);
  --important: rgb(255, 158, 72);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    margin: 140px 30px;
    min-width: 250px;
}

@media only screen and (min-width: 600px) {
  .container {
    margin: 110px 40px; 
  }
}

.form_input {
  padding: 6px 8px;
  border: 0.1px solid var(--light-shadow);
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px var(--light-shadow);
}