:root {
  --white: rgb(255, 255, 255);
  --gray-light: rgb(241, 241, 241);
  --gray: rgb(221, 221, 221);
  --main: rgb(41, 80, 98);
  --secondary: rgb(23, 116, 139);
  --main-light: rgb(170, 219, 219);
  --main-medium: rgb(65, 164, 177);
  --main-light-max: rgb(232, 244, 244);
  --shadow: rgb(0, 0, 0, 0.1);
  --error-red: rgb(196, 2, 2);
  --important: rgb(255, 158, 72);
  --important-hover: rgb(208, 133, 66);
  --important-text: rgb(195, 136, 34);
  --focus-text: rgb(178, 122, 24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    margin: 160px auto 20px;
    min-width: 250px;
    max-width: 1400px;
    padding: 2rem; 
    min-height: calc(100vh - 200px);
}

@media only screen and (min-width: 600px) {
  .container {
    margin: 180px auto 20px; 
  }
}

.card {
    box-shadow: 0 0 8px 1px var(--shadow);
    border-radius: 4px;
    padding: 10px;
}

.form_input {
  padding: 6px 8px;
  border: 0.1px solid var(--shadow);
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px var(--shadow);
}
