:root {
  --white: rgb(255, 255, 255);
  --gray-light: rgb(241, 241, 241);
  --gray: rgb(221, 221, 221);
  --main: rgb(41, 80, 98);
  --secondary: rgb(23, 116, 139);
  --main-light: rgb(125, 171, 183);
  --main-medium: rgb(65, 164, 177);
  --focus-text: rgb(178, 122, 24);
  --shadow-light: rgb(0, 0, 0, 0.1);
  --error-red: rgb(196, 2, 2);
  --important: rgb(255, 158, 72);
  --important-hover: rgb(208, 133, 66);
  --important-text: rgb(195, 136, 34);
  --main-light-max: rgb(232, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    margin: 140px auto;
    min-width: 250px;
    max-width: 1400px;
    padding: 20px;
}


@media only screen and (min-width: 600px) {
  .container {
    margin: 130px auto; 
  }
}

.form_input {
  padding: 6px 8px;
  border: 0.1px solid var(--shadow-light);
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px var(--shadow-light);
}