.steps__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto; 
  max-height: 100%;
  max-width: 100%; 
  background-color: transparent;
  padding: 0.5rem 0; 
}

.steps__item {
  align-items: center;
  border-bottom: 0;
  color: #6d7178;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 15rem;
  min-width: 10rem;
  padding: 0 1rem; 
  text-decoration: none;
  position: relative;
}

.steps__item:not(.steps__item.disabled):hover {
  text-decoration: underline; 
  cursor: pointer;
}

.steps__item::after {
  content: '';
  position: absolute;
  background-color: var(--main-medium);
  height: 1px;
  top: 30%;
  left: calc(50% + 3rem);
  width: calc(100% - 6rem); 
}

.steps__item:last-child::after {
  display: none; 
}

.steps__item:not(.steps__item.disabled):hover .steps__icon {
  border: none; 
}
  
.steps__item.completed .steps__icon {
  background-color: #404247;
  border-color: transparent;
  color: white;
  }
  
.steps__item.current .steps__icon {
  background-color: var(--secondary);
  border-color: transparent;
  color: #fff;
  }
  
.steps__item.current .steps__text {
  color: var(--secondary);
  font-weight: 500; 
}
  
.steps__item.disabled {
  cursor: not-allowed; 
}
.steps__item.disabled:focus {
  border-bottom: 0; 
}

.steps__item.disabled .steps__text {
  color: gray; 
}

.steps__icon {
  align-items: center;
  background-color: #f6f6f7;
  border: 0;
  border-radius: 50%;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem; }

.steps__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center; 
}

