.footer {
    /* background-color: var(--gray); */
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    padding: 2rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-position: center;
}

.footer .contact__info {
    font-size: 0.9rem;
    padding: 0.5rem 0;
    align-items: flex-start;
}

@media only screen and (min-width: 600px) {
    .footer{
        flex-direction: row;
    }
}