.header--simple {
  /* background-color: rgb(215, 215, 215); */
  display: grid;
  grid-template-columns: 100px 1fr 40px;
  grid-template-rows: 50px 5px auto 1fr;
  padding: 20px 22px 8px;
  margin: 0;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
  gap: 0.5rem;
  background-color: white;
  background-color: var(--main-light-max);
}

.logo--simple {
  grid-column: 1;
  margin: auto;
  margin-left: 0;
}

.logo--simple:hover {
  cursor: pointer;
}

.logo_item {
  height: 50px;
}

.search--simple {
  grid-row: 4;
  grid-column: 1/4;
  width: 100%;
  margin-left: 70px;
  justify-self: right;
  align-self: center;
}

.header_bar--text {
  font-size: 12px;
  grid-column: 1/4;
  grid-row: 3;
  margin: auto;
  /* display: none; */
  gap: 2px;
}

.header_bar__item {
  text-transform: uppercase;
  position: relative;
} 

.header_bar__item--dot::after{
  content: '';
  display: inline-block;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: var(--important);
  top: 0.9rem;
  left: 0.8rem;
}

.header_bar__item > * {
  font-size: 11px;
}

.header_bar__item:hover {
  text-decoration: underline;
}

.menu__toggler--simple {
  grid-column: 3;
  outline: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  top: 25px;
  right: 40px;
  z-index: 101;
  height: 28px;
  width: 28px;
  background-color: var(--main-light-max);
}


.menu__toggler--simple > span,
.menu__toggler--simple > span::before,
.menu__toggler--simple > span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 3px;
  background: #2f2f2f;
  border-radius: 10px;
  transition: 500ms cubic-bezier(0.75, 0, 0.15, 1);
}

.menu__toggler--simple > span::before {
  top: -8px;
}

.menu__toggler--simple > span::after {
  top: 8px;
}

.menu__toggler--simple.active > span  {
  background: transparent;
}

.menu__toggler--simple.active > span::before,
.menu__toggler--simple.active > span::after {
  /* background: #005c9c; */
  top: 0px;
}

.menu__toggler--simple.active > span::before  {
  transform: rotate(-225deg);
}

.menu__toggler--simple.active > span::after  {
  transform: rotate(225deg);
}

.menu--simple {
  position: absolute;
  z-index: 100;
  color: var(--secondary);
  background-color: var(--main-light-max);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* justify-content: center; */
  /* padding: 10px 20px; */
  transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
  width: 300px;
  top: 0px;
  right: -300px;
  height: 100vh;
  box-shadow: 3px 2px 10px rgb(199, 199, 199);
}

.menu__horizontalMenu {
  display: flex;
  gap: 5px;
  margin: 0 26px 30px;
}

.menu--simple.active {
  right: 0;
}

.item_link {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  list-style: none;
  text-transform: uppercase;
}

.menu--simple .item_link {
  /* background-color: rgb(221, 236, 238); */
}

.item_link:hover {
  cursor: pointer;
}

.header_horizontalMenu--simple {
  display: none;
  align-items: center;
  margin: 8px;
  justify-content: space-between;
  min-width: 700px;
  max-width: 1200px;
  grid-row: 3;
  grid-column: 1/4;
}

.header_horizontalMenu--simple > .header_bar__item {
  font-size: 14px;
  max-width: 220px;
}

/* .header_important--simple > .header_bar__item::after  {
  content: "|";
  color: var(--secondary);
  padding-left: 1em;
}

.header_important--simple > .header_bar__item:last-child::after {
  content: "";
} */   

.header__hr {
  /* display: none; */
  grid-row: 2;
  grid-column: 1/4;
  border-top: 1px solid var(--main-light);
  margin: 8px 0 16px;
}

@media only screen and (min-width: 800px) {
  .header--simple {
    grid-template-columns: 120px auto 380px;  
    grid-template-rows: auto 10px auto;
    padding: 35px 40px 10px;
    gap: 5px;
  }

  .logo--simple {
    grid-row: 1/4;
  }

  .logo_item {
    height: 80px;
  }

  .header__hr {
    display: block;
  }
  
  .header_bar__item > * {
    font-size: 12px;
  }

  .menu--simple { 
    width: 350px;
    right: -350px;

  }
  .menu__toggler--simple {
    top: 30px;
    display: none;
  }
  .search--simple {
    grid-row: 1;
    grid-column: 2;
  }
  .header_bar--text {
    /* display: flex; */
    grid-column: 3;
    grid-row: 1;
    margin-right: 0;
  }

  .header_horizontalMenu--simple {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

  