.accountDetails {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* display: grid;
    grid-template-rows: 200px minmax(400px, 700px); */
}

.accountDetails_menu {
    /* border-right: 1px solid var(--main-medium); */
    border-bottom: 1px solid var(--main-medium); 
    margin: 0 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: flex-start;
}

.accountDetails_menu > .menuLink > .menuLink_header{
    justify-content: left;
    /* font-size: 18px; */
}

.form_account {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.7rem 1rem;
    max-width: 800px;
    width: 100%;
}

.form_account_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

  .accountDetails_form {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .accountDetails_form > .bg-image {
    width: 100%;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    height: 500px;
    margin: none;
  }


  